.postlist {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.postlist h1 {
  width: 200px;
  height: 200px;
  border: 2px solid gray;
  background-color: lightcoral;
  text-align: center;
  line-height: 200px;
}
