.navbar {
  padding: 20px 0;
  background-color: lightblue;
}

.navbar .menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
}

.navbar .menu ul {
  display: flex;
  justify-content: space-between;
}
.navbar .menu li {
  margin: 0 30px;
}
