nav {
  background-color: lightblue;
  padding: 20px;
}

.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
  width: 80%;
}

.menu ul {
  display: flex;
  justify-content: space-between;
}
.menu li {
  margin: 0 30px;
}
